@charset "UTF-8";

html{
    font-size: 100%;
}

img{
    width: 100%;
    vertical-align: bottom;
}

body{
    font-family: 'YuMincho' ,'Yu Mincho' ,serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    opacity: 0.7;
}

.wapper{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 100px;
}



.header{
    position: fixed;
    z-index: 999;
}

.title{
    margin: 0;
    padding: 30px 0 0 30px;
    color: #fff;
}

.hero{
    margin-bottom: 100px;
}

.hero .mainvisual{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero .mainvisual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.hero .mainvisual span{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:767px){
    .hero .mainvisual{
    height: 80vh;
}

.wapper{
    max-width: 100%;

    margin: 0 auto;
    margin-bottom: 100px;
}
}

.section-title{
    text-align: center;
}

.section-title span:nth-of-type(1){
    font-size: 60px;
    display: block;

}

.movies{
    width: 100%;
    background-color: #efefef;
}

.articles{
    display: flex;
}

.movies h2{
    text-align: center;
}

.movies h2 span:nth-of-type(1){
    font-size: 60px;
    display: block;
}

.movies article{
    width: 33.3%;
    padding: 10px;
}
.movies h3,p{
    text-align: center;
}

.movies article figure{
    margin: 0;
}

.movies article figure iframe{
    width: 100%;
    height: auto;
}

.movies article figcaption{
   margin-top: 25px;
   text-align: center;
}

@media screen and (max-width:767px) {
    .articles{
        display: block;
    }

    .movies article{
        width: 100%;
        margin-top: 20px;
}
    
}

.finaly{
    margin: 100px 0;
}

.finaly p{
    margin: 50px 0;
}

.footer{
    margin-top:20px ;
    background-color: #efefef;
}

.footer .blog-navi{
    text-align: center;
}

.footer .blog-navi a{
    all: revert;
}

.footer .copyright{
    text-align: center;
    padding-top: 40px;
}